/* Home.css */
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh auto;
    max-width: 1000px; /* Adjust based on your needs */
}

.animated-text {
    text-align: center;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 500px; /* adds equal spacing between rows and columns */
    width: 100%;
    margin-top: 40px;
    padding: 0 20px; /* optional: adds some breathing room on sides */
    box-sizing: border-box;
    margin-right: 800px;
}

.about-heading {
    font-size: 4rem; /* Adjust the font size as needed */
    text-align: center;
    margin: 0;
    padding: 0;
}

.cool-color {
    color: #007bff; /* Or any other color you prefer */
}

.info-container {
    background: linear-gradient(0deg, #ffffff 0%, #f4f7fb 100%);
    border-radius: 40px;
    padding: 25px 35px;
    border: 5px solid #ffffff;
    box-shadow: rgba(133, 189, 215, 0.88) 0px 30px 30px -20px;
    height: 400px;
    width: 500px /* Important: Let grid control the width */
}

.info-heading {
    font-family: "Arial Black", sans-serif;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: rgb(16, 137, 211);
}

.slide-in-left {
    animation: slideInLeft 1s ease forwards;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


p {
    font-family: "Nunito Sans", sans-serif;
}

.animated-text {
    height: 2em;
    text-align: left;
    margin-bottom: 5vh;
}

.animated-text-content {
    color: #766df0;
    display: inline-block;
    margin-bottom: 0.15em;
    vertical-align: middle;
}

.animated-text-cursor {
    animation: blink 0.75s step-end infinite;
    display: inline-block;
    height: 1.3em;
    margin-bottom: 0.14em;
    margin-left: 0.07em;
    position: absolute;
    vertical-align: middle;
    width: 3px;
}

.content-color {
    background: #28B0CF;
    background: linear-gradient(to right, #28B0CF 0%, #874CCF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    width: 6.5em;
    height: 2.3em;
    margin: 0.5em;
    background: linear-gradient(90deg, #b1b1ff, #664ff5);
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.btn:hover {
    color: black;
}

.btn:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.btn:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}